
<p>Test</p>

@*
    <div class="row">
        @{
            foreach (var product in ViewBag.products)
            {
                <partial name="_ProductCard.cshtml" model="product" />
            }
        }
    </div>
*@
