<footer class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="container">
        &copy; 2021 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>