<div id="modal-register" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        </div>
    </div>
</div>

<header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">            
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ecommerce</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link text-dark" asp-controller="Admin" asp-action="LogOff">Lof Off</a>
                        </li>
                    }

                </ul>
                <div class="mx-3">
                    <p class="fs-6 fw-bold lh-sm">Бесплатная консультация:<br />8(888) 888-88-88</p>
                </div>
                <div class="vr"></div>

                <div class="login mx-3">
                    <div class="dropdown">
                        <a asp-controller="Admin" asp-action="Login" class="nav-link active"><i class="fas fa-user"></i>&nbsp&nbspЛичный кабинет</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Register" data-bs-target="#modal-register" data-bs-toggle="modal" role="button">Регистрация</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="Admin" asp-action="Login"><i class="fas fa-user"></i>&nbsp&nbspВход</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="vr"></div>
                <div id="ShopingCart" class="mx-5">
                    <partial name="_ShowCart" model="Model" />
                </div>
            </div>
        </div>
    </nav>

    <div>
        <nav class="navbar navbar-dark mb-3" style="background-color: #7fa828;">
            <div class="container">
                <a class="navbar-brand">Navbar</a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
</header>

<style>
    div.login .dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>
