<div id="modal-register" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
        </div>
    </div>
</div>


<div id="modal-requestcall" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content"></div>
    </div>
</div>


<header class="fixed-top">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <img src="/images/icontitle.png" width="90" />
            </a>
            <div class="col-4">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>
            </div>
            <div class="col-1">

            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <div class="mx-3">
                    <p class="fs-6 lh-sm">
                        Бесплатная консультация:<br />
                        <span class="fw-bold" style="display: block; text-align: center;">8(888) 888-88-88</span>
                        <span class="mt-1" style="display: block; text-align: center;">
                            <small>
                                <a asp-controller="Admin" asp-action="Requestcall" data-bs-target="#modal-requestcall" data-bs-toggle="modal" role="button">заказать звонок</a>
                            </small>
                        </span>
                    </p>
                </div>
                <div class="vr"></div>

                <div class="login mx-3">
                    <div class="dropdown">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="Admin" asp-action="Privacy" class="nav-link active"><i class="fas fa-user"></i>&nbsp&nbsp @User.Identity.Name</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="nav-link text-dark" asp-controller="ShopCart" asp-action="Index">Корзина</a>
                                </li>
                                <li>
                                    <a class="nav-link text-dark" asp-controller="Admin" asp-action="LogOff">Выход</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <a class="nav-link active" asp-controller="Admin" asp-action="Login"><i class="fas fa-user"></i>&nbsp&nbspЛичный кабинет</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="Register" data-bs-target="#modal-register" data-bs-toggle="modal" role="button">Регистрация</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Admin" asp-action="Login"><i class="fas fa-user"></i>&nbsp&nbspВход</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="RequestCall" data-bs-target="#modal-requestcall" data-bs-toggle="modal" role="button">заказать звонок</a>
                                </li>
                            </ul>
                        }
                    </div>
                </div>

                <div class="vr"></div>
                <div id="ShopingCart" class="mx-5">
                    <partial name="_ShowCart" model="Model" />
                </div>
            </div>
        </div>
    </nav>

    <div>
        <nav class="navbar justify-content-center navbar-light" style="background-color: #7fa828; ">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-dark navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Оплата и доставка</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark navbar-brand" asp-area="" asp-controller="Home" asp-action="Contact">Контакты</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    div.login .dropdown:hover > .dropdown-menu {
        display: block;
    }
</style>

