@model ShopCartItem

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ecommerce</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div id="ShopingCart">
                        <partial name="_ShowCartPartialView" model="Model" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <nav id="menuVertical">
                    <ul>
                        <li>
                            <a href="#m1">Леска</a>
                            <ul>
                                <li><a href="#m2_1">Плетеные шнуры</a></li>
                                <li><a href="#m2_2">Монофильная леска</a></li>
                                <li><a href="#m2_3">Флюорокарбоновая леска</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m2">Катушки</a>
                            <ul>
                                <li><a href="#m2_1">Безынерционные катушки</a></li>
                                <li><a href="#m2_2">Инерционные катушки</a></li>
                                <li><a href="#m2_3">Катушки с байтраннером</a></li>
                                <li><a href="#m2_4">Матчевые катушки</a></li>
                                <li><a href="#m2_5">Фидерные катушки</a></li>
                                <li><a href="#m2_6">Шпули для катушек</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m3">Крючки</a>
                            <ul>
                                <li><a href="#m3_1">Одинарные крючки</a></li>
                                <li><a href="#m3_2">Двойные крючки</a></li>
                                <li><a href="#m3_3">Тройные крючки</a></li>
                                <li><a href="#m3_4">Офсетные крючки</a></li>
                                <li><a href="#m3_5">Крючки незацепляйки</a></li>
                                <li><a href="#m3_6">Крючки с поводком</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m4">Приманки</a>
                            <ul>
                                <li><a href="#m4_1">Силиконовые приманки</a></li>
                                <li><a href="#m4_2">Воблеры</a></li>
                                <li><a href="#m4_3">Колеблющиеся блесны</a></li>
                                <li><a href="#m4_4">Вращающиеся блесны</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m5">Прикормки</a>
                            <ul>
                                <li><a href="#m5_1">Прикормка</a></li>
                                <li><a href="#m5_2">Ароматизаторы</a></li>
                                <li><a href="#m5_3">Бойлы и наживка</a></li>
                                <li><a href="#m5_4">Грунт и клей для прикормки</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m6">Кормушки</a>
                            <ul>
                                <li><a href="#m6_1">Фидерные</a></li>
                                <li><a href="#m6_2">Пружина</a></li>
                                <li><a href="#m6_3">Пуля</a></li>
                                <li><a href="#m6_4">Макушатник</a></li>
                                <li><a href="#m6_5">Флэт метод</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m7">Оснастка</a>
                            <ul>
                                <li><a href="#m7_1">Поводки</a></li>
                                <li><a href="#m7_2">Вертлюжки</a></li>
                                <li><a href="#m7_3">Карабины и застежки</a></li>
                                <li><a href="#m7_4">Кольца</a></li>
                                <li><a href="#m7_5">Бусинки</a></li>
                                <li><a href="#m7_6">Стопорки</a></li>
                                <li><a href="#m7_6">Сигнализаторы</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#m8">Поплавки</a>
                            <ul>
                                <li><a href="#m8_1">Тубусы для поплавков</a></li>
                                <li><a href="#m8_2">Поплавки для дальнего заброса</a></li>
                                <li><a href="#m8_3">Поплавки для ловли малой рыбы</a></li>
                                <li><a href="#m8_4">Поплавки для рыбалки в спокойной воде</a></li>
                                <li><a href="#m8_5">Поплавки для рыбалки на течении</a></li>
                                <li><a href="#m8_6">Поплавки для рыбалки на живца</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav><!--menuVertical-->
            </div>
            <div class="col-7">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col">
                3 из 3
            </div>
            <div class="col">
                3 из 3
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
