<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    @await Html.PartialAsync("_CssPartial")
</head>
<body>
    <!-- Header -->
    @await Html.PartialAsync("_Header")

    <div class="container-fluid">
        <div class="row">
            <div class="col">
            </div>
            <div class="col-2">
                <partial name="_NavMenu" /><!--menuVertical-->
            </div>
            <div class="col-8">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col">
            </div>
        </div>
    </div>

    <!-- Footer -->
    @await Html.PartialAsync("_Footer")

    <!-- Scripts -->
    @await Html.PartialAsync("_Scripts")
</body>
</html>