<nav id="menuVertical">
    <ul>
        <li>
            <a asp-controller="Line" asp-action="GetLines">Леска</a>
            <ul>
                <li><a asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="1">Плетеные шнуры</a></li>
                <li><a asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="2">Монофильная леска</a></li>
                <li><a href="#m2_3">Флюорокарбоновая леска</a></li>
            </ul>
        </li>
        <li>
            <a asp-controller="Reel" asp-action="Index">Катушки</a>
            <ul>
                <li><a href="#m2_1">Безынерционные катушки</a></li>
                <li><a asp-controller="Reel" asp-action="Index" asp-route-subCatalogId="5">Инерционные катушки</a></li>
                <li><a href="#m2_3">Катушки с байтраннером</a></li>
                <li><a href="#m2_4">Матчевые катушки</a></li>
                <li><a href="#m2_5">Фидерные катушки</a></li>
                <li><a href="#m2_6">Шпули для катушек</a></li>
            </ul>
        </li>
        <li>
            <a href="#m3">Крючки</a>
            <ul>
                <li><a href="#m3_1">Одинарные крючки</a></li>
                <li><a href="#m3_2">Двойные крючки</a></li>
                <li><a href="#m3_3">Тройные крючки</a></li>
                <li><a href="#m3_4">Офсетные крючки</a></li>
                <li><a href="#m3_5">Крючки незацепляйки</a></li>
                <li><a href="#m3_6">Крючки с поводком</a></li>
            </ul>
        </li>
        <li>
            <a href="#m4">Приманки</a>
            <ul>
                <li><a href="#m4_1">Силиконовые приманки</a></li>
                <li><a href="#m4_2">Воблеры</a></li>
                <li><a href="#m4_3">Колеблющиеся блесны</a></li>
                <li><a href="#m4_4">Вращающиеся блесны</a></li>
            </ul>
        </li>
        <li>
            <a href="#m5">Прикормки</a>
            <ul>
                <li><a href="#m5_1">Прикормка</a></li>
                <li><a href="#m5_2">Ароматизаторы</a></li>
                <li><a href="#m5_3">Бойлы и наживка</a></li>
                <li><a href="#m5_4">Грунт и клей для прикормки</a></li>
            </ul>
        </li>
        <li>
            <a href="#m6">Кормушки</a>
            <ul>
                <li><a href="#m6_1">Фидерные</a></li>
                <li><a href="#m6_2">Пружина</a></li>
                <li><a href="#m6_3">Пуля</a></li>
                <li><a href="#m6_4">Макушатник</a></li>
                <li><a href="#m6_5">Флэт метод</a></li>
            </ul>
        </li>
        <li>
            <a href="#m7">Оснастка</a>
            <ul>
                <li><a href="#m7_1">Поводки</a></li>
                <li><a href="#m7_2">Вертлюжки</a></li>
                <li><a href="#m7_3">Карабины и застежки</a></li>
                <li><a href="#m7_4">Кольца</a></li>
                <li><a href="#m7_5">Бусинки</a></li>
                <li><a href="#m7_6">Стопорки</a></li>
                <li><a href="#m7_6">Сигнализаторы</a></li>
            </ul>
        </li>
        <li>
            <a href="#m8">Поплавки</a>
            <ul>
                <li><a href="#m8_1">Тубусы для поплавков</a></li>
                <li><a href="#m8_2">Поплавки для дальнего заброса</a></li>
                <li><a href="#m8_3">Поплавки для ловли малой рыбы</a></li>
                <li><a href="#m8_4">Поплавки для рыбалки в спокойной воде</a></li>
                <li><a href="#m8_5">Поплавки для рыбалки на течении</a></li>
                <li><a href="#m8_6">Поплавки для рыбалки на живца</a></li>
            </ul>
        </li>
    </ul>
</nav><!--menuVertical-->