@model FeedbackViewModel

<form method="post" id="requestmailform" asp-controller="Home" asp-action="RequestMail" asp-route-ReturnUrl="@Context.Request.Headers["Referer"].ToString()">
    <div id="requestmail" class="modal fade" tabindex="-1" aria-labelledby="exampleModalLabel4" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="CallOrderModalLabel"><i class="fas fa-envelope-open-text"></i>&nbsp&nbspОтправить сообщение</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Message.Name" class="form-label"></label>
                            <input asp-for="Message.Name" class="form-control" type="text" placeholder="Имя" />
                            <span asp-validation-for="Message.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message.Email" class="form-label"></label>
                            <input asp-for="Message.Email" class="form-control" placeholder="Почта" />
                            <span asp-validation-for="Message.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message.Text">Напишите письмо:</label>
                            <textarea asp-for="Message.Text" class="form-control" rows="3" placeholder="Текст письма"></textarea>
                            <span asp-validation-for="Message.Text" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Передумал</button>
                    <input type="submit" value="Отправить" class="btn btn-success btn-sm" />
                </div>
            </div>
        </div>
    </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    $("#requestmailform").submit(function (e) {
        if ($(this).valid()) {
            alert("Мы ответим Вам в ближайшее время");
        }
    });
</script>
