@model Ecommerce.ViewModels.ProductShopCartViewModel

<div class="row">
    <div class="col-9">
        
        <div class="mb-3 p-2" style="border-radius: 5px; border: 1px solid rgba(0,0,0,.125);">
            <div class="row">
                <div class="col-8">
                    <div style="display: inline">
                        @if (Model.subCatalogId != 0)
                        {
                            <a asp-controller="Home" asp-action="Index">Каталог</a>
                            <span> - </span>
                            <a asp-controller="Line" asp-action="GetLines">Леска</a>
                            <span> - </span>
                            @if (Model.subCatalogId == 1)
                            {
                                <a asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="1">Плетеные шнуры</a>
                            }
                            else if (Model.subCatalogId == 2)
                            {
                                <a asp-controller="Line" asp-action="GetLines" asp-route-subCatalogId="2">Монофильная леска</a>
                            }
                        }
                        else
                        {
                            <a class="btn btn-secondary btn-sm" asp-action="GetLines" asp-route-subCatalogId="1" role="button">Плетеные шнуры</a>
                            <a class="btn btn-secondary btn-sm" asp-action="GetLines" asp-route-subCatalogId="2" role="button">Монофильная леска</a>
                        }
                    </div>
                </div>
                <div class="col-4">
                    <div class="col-auto my-1">
                        <label class="mr-sm-2" for="inlineFormCustomSelect">Сортировка: </label>
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

    <div class="row">
        <div class="col-9">
            @{
                foreach (Line line in ViewBag.products)
                {
                    <partial name="~/Views/Shared/_ProductCard.cshtml" model="line" />
                }
            }
        </div>
        <div class="col-3">
            @await Html.PartialAsync("_LinesFilters")
        </div>
    </div>
