@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="Admin" asp-action="Login" method="post">
    <div class="col-4">

        <div class="col">
            <label asp-for="registration.User.Email" class="form-label">Email</label>
            <input asp-for="registration.User.Email" class="form-control" type="email" />
            <span asp-validation-for="registration.User.Email"></span>
        </div>
        <div class="col">
            <label asp-for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>

        <div class="col">
            <button type="submit">Log in</button>
        </div>
    </div>
</form>

