@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form asp-controller="Admin" asp-action="Login" method="post">
    <input hidden asp-for="ReturnUrl"/>
    <div>
        <label>UserName</label>
        <input asp-for="registration.User.Name" />
        <span asp-validation-for="registration.User.Name"></span>
    </div>
    <div>
        <label>Password</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    
    <p>
        <button type="submit">Log in</button>
    </p>
</form>

