@model LoginViewModel
@{ ViewData["Title"] = "Login"; }

<h1>Login</h1>

<form asp-controller="Admin" asp-action="Login" method="post" asp-route-ReturnUrl="@Context.Request.Headers["Referer"].ToString()">
    <div class="col-4">
        <div class="col">
            <label asp-for="Email" class="form-label">Логин</label>
            <input asp-for="Email" class="form-control" type="email" placeholder="E-mail" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col">
            <label asp-for="Password" class="form-label">Пароль</label>
            <input type="password" class="form-control" asp-for="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        @if (Model != null && !String.IsNullOrEmpty(Model.IsValidResponse))
        {
            <span class="text-danger">@Model.IsValidResponse</span>
        }

        <div class="row p-3">
            <div class="col-6">
                <button class="btn btn-success" type="submit">Войти</button>
            </div>
            <div class="col-6">
                <a role="button" data-bs-toggle="modal" data-bs-target="#modalregister">Регистрация</a>
            </div>
        </div>
    </div>
</form>


