@model Product

<div class="col-sm-6">
    <form method="post" asp-action="UpdateShopingCart" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShopingCart" asp-route-id="@Model.Id">
        <div class="card">
            <div class="product-card-img">
                <img src="@Model.Img" alt="..." />
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.Name</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <input type="submit" class="btn btn-primary" value="Добавить в корзину" />
            </div>
        </div>
    </form>
</div>


<style>
    .product-card-img {
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
    }

        .product-card-img img {
            max-width: 100%;
            max-height: 100%;
        }
</style>

