@model Product

<div class="card" style="width: 18rem;">
    <img src="@Model.Img" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        
        <div>
            <form method="post" asp-action="UpdateShopingCart" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShopingCart">
                <input type="submit" class="btn btn-primary" value="Добавить в корзину" />
            </form>
        </div>
        
        
    </div>
</div>