<div class="card bg-dark text-white">
    <img src="~/images/RightCart/News.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Рекомендации и советы для начинающих рыбаков</h5>
        <p class="card-text">Основы рыбалки</p>
        <p class="card-text">Что должен знать настоящий рыбак?</p>
    </div>
</div>
<div class="card bg-dark text-white my-3">
    <img src="~/images/RightCart/News.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="card-title">Рекомендации и советы для начинающих рыбаков</h5>
        <p class="card-text">Основы рыбалки</p>
        <p class="card-text">Что должен знать настоящий рыбак?</p>
    </div>
</div>