<div class="card bg-dark text-white">
    <a asp-controller="News" asp-action="Index" asp-route-id="1" style="text-decoration:none; color:white;">
        <img src="~/images/RightCart/News.jpg" class="card-img" alt="...">

        <div class="card-img-overlay">
            <h5 class="card-title">Рекомендации и советы для начинающих рыбаков</h5>
            <p class="card-text">Что должен знать настоящий рыбак?</p>
        </div>
    </a>
</div>
<div class="card bg-dark text-white my-3">
    <a asp-controller="News" asp-action="Index" asp-route-id="2">
        <img src="~/images/RightCart/kak_spin_ban.jpg" class="card-img" alt="...">
    </a>
</div>