@model ShopCart

<div>
    <form asp-action="UpdateShopingCart" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShopingCart">
        <div>
            <img src="~/images/shopping-cart.png" width="30" />
            <p>
                Товаров: &nbsp;&nbsp;@Model.getTotalQuantityProductCart() шт.<br />
                На сумму: @Model.getTotalSumProductCart().ToString("C")
            </p>
        </div>
    </form>
</div>
