@model ShopCartItem

<div>
    <form asp-action="UpdateShopingCart" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShopingCart">
        <div>
            <img src="~/images/shopping-cart.png" width="30" />
            <span>@Model.Quantity</span>
        </div>
        @*
        <div class="form-group">
            <input type="submit" class="btn btn-primary" />
        </div>
        *@
    </form>
</div>
