<div class="row">
    <div class="col-sm-3 my-2">
        <div class="card">
            <img src="~/images/SubCatalog/BraidedLine2.jpg" class="card-img-top" alt="Плетеные шнуры для рыбалки">

            <div class="card-body">
                <h5 class="card-title">Плетеные шнуры</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <input type="submit" class="btn btn-primary" value="Перейти" />
            </div>
        </div>
    </div>

    <div class="col-sm-3 my-2">
        <div class="card">
            <a asp-controller="Home" asp-action="GetMonofilamentLines">
                <img src="~/images/SubCatalog/MonofilamentLine.jpg" class="card-img-top" alt="Монофильная леска для рыбалки">
            </a>

            <div class="card-body">
                <h5 class="card-title">Монофильная леска</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <input type="submit" class="btn btn-primary" value="Перейти" />
            </div>
        </div>
    </div>


    <div class="col-sm-3 my-2">
        <div class="card">
            <img src="~/images/SubCatalog/FluorocarbonLine.jpg" class="card-img-top" alt="Флюорокарбоновая леска для рыбалки">
            <div class="card-body">
                <h5 class="card-title">Флюорокарбоновая леска</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <input type="submit" class="btn btn-primary" value="Перейти" />
            </div>
        </div>
    </div>


    <div class="col-sm-3 my-2">
        <div class="card">
            <img src="~/images/SubCatalog/FluorocarbonLine.jpg" class="card-img-top" alt="Флюорокарбоновая леска для рыбалки">
            <div class="card-body">
                <h5 class="card-title">Флюорокарбоновая леска</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <input type="submit" class="btn btn-primary" value="Перейти" />
            </div>
        </div>
    </div>


    <div class="col-sm-3 my-2">
        <div class="card">
            <img src="~/images/SubCatalog/FluorocarbonLine.jpg" class="card-img-top" alt="Флюорокарбоновая леска для рыбалки">
            <div class="card-body">
                <h5 class="card-title">Флюорокарбоновая леска</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <input type="submit" class="btn btn-primary" value="Перейти" />
            </div>
        </div>
    </div>


    <div class="col-sm-3 my-2">
        <div class="card">
            <img src="~/images/SubCatalog/FluorocarbonLine.jpg" class="card-img-top" alt="Флюорокарбоновая леска для рыбалки">
            <div class="card-body">
                <h5 class="card-title">Флюорокарбоновая леска</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                <input type="submit" class="btn btn-primary" value="Перейти" />
            </div>
        </div>
    </div>

</div>








@*
      <div class="row">
        <figure class="figure" style="max-width: 18rem;">
            <div class="product-card-img">
                <img src="~/images/SubCatalog/BraidedLine.jpg" class="figure-img img-fluid rounded" alt="Плетеные шнуры для рыбалки">
            </div>
            <figcaption class="figure-caption">Плетеные шнуры</figcaption>
        </figure>
        <figure class="figure" style="max-width: 18rem;">
            <div class="product-card-img">
                <a asp-controller="Home" asp-action="GetMonofilamentLines">
                    <img src="~/images/SubCatalog/MonofilamentLine.jpg" class="figure-img img-fluid rounded" alt="Монофильная леска для рыбалки">
                </a>
            </div>
            <figcaption class="figure-caption">
                <a asp-controller="Monofilament" asp-action="Index">Монофильная леска</a>
            </figcaption>
        </figure>
        <figure class="figure" style="max-width: 18rem;">
            <div class="product-card-img">
                <img src="~/images/SubCatalog/FluorocarbonLine.jpg" class="figure-img img-fluid rounded" alt="Флюорокарбоновая леска для рыбалки">
            </div>
            <figcaption class="figure-caption">Флюорокарбоновая леска</figcaption>
        </figure>
    </div>

    <style>
        .product-card-img {
            height: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 10px;
        }

            .product-card-img img {
                max-width: 100%;
                max-height: 100%;
            }
    </style>
*@

