<h1>Контактная информация</h1>

<div class="row">
    <div class="col-5">
        <table>
            <tr>
                <td></td>
                <td>«Рыболофф74», интернет-магазин</td>
            </tr>
            <tr>
                <td></td>
                <td>г. Челябинск, краснопольский проспект</td>
            </tr>
            <tr>
                <td></td>
                <td>8 (888) 888-88-88</td>
            </tr>
            <tr>
                <td></td>
                <td>1@mail.ru</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="col-2">
    </div>
    <div class="col-5 p-3" style="border: 3px solid darkblue; border-radius:10px">
        <div class="form-group">
            <label class="form-label">Введите Ваше имя:</label>
            <input class="form-control" type="text" placeholder="Имя" />
        </div>
        <div class="form-group">
            <label class="form-label">Введите Ваш e-mail:</label>
            <input class="form-control" type="email" placeholder="E-mail" />
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Напишите письмо:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Текст письма"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Отправить</button>
        </div>
    </div>
</div>

<br />

<div>
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A06907531fd2d2bdf14422354a6a822247b6cdaf560d41bbf8e4bf0a9e4ba5631&amp;width=1280&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
</div>