
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-9">
        @await Html.PartialAsync("_Carousel")
        <div class="my-3"></div>
        @await Html.PartialAsync("_SubCatalog")
    </div>
    <div class="col-3">
        @await Html.PartialAsync("_RightCard")
    </div>
</div>



@*
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>



<div>
    <form asp-action="UpdateShopingCart" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#ShopingCart">
        <input type="submit" class="btn btn-primary" />
    </form>
</div>

<partial name="CartAmmount" model="Model" />
*@