@model CallOrder

<form method="post" asp-controller="Home" asp-action="RequestCall">
    <div class="modal-header">
        <h5 class="modal-title" id="CallOrderModalLabel"><i class="fas fa-mobile-alt"></i>&nbsp&nbspЗаказать звонок</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="col">
                <div class="col">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" id="inputCallOrderName" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col">
                    <label asp-for="Phone" class="form-label"></label>
                    <input asp-for="Phone" class="form-control" id="inputCallOrderPhone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Передумал</button>
        <input type="submit" value="Заказать" class="btn btn-success btn-sm" asp-route-ReturnUrl="@Context.Request.Headers["Referer"].ToString()" />
    </div>
</form>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
