<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel2">Оформление заказа</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="form-horizontal">
        <form class="row g-3">
            <div class="col-md-4">
                <label class="form-label">Имя<font color="red">*</font></label>
                <input type="text" class="form-control" id="Name" name="Name" required />
            </div>
            <div class="col-md-4">
                <label for="Patronymic" class="form-label">Отчество</label>
                <input type="text" class="form-control" id="Patronymic" name="Patronymic" />
            </div>
            <div class="col-md-4">
                <label for="LastName" class="form-label">Фамилия<font color="red">*</font></label>
                <input type="text" class="form-control" id="LastName" name="LastName" />
            </div>
            <div class="col-md-6">
                <label for="Phone" class="form-label">Телефон<font color="red">*</font></label>
                <div class="input-group">
                    <font class="input-group-text" color="#D0D3D4">+7</font>
                    @*<input type="tel" class="form-control" id="Phone" maxlength="10" name="Phone" onchange="phonenumber(this)" required />*@
                    @*<input type="tel" class="form-control" id="Phone" placeholder="888-888-8888" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" name="Phone" required />*@
                    <input type="tel" class="form-control" id="Phone" maxlength="15" name="Phone" pattern="[(]{1}[0-9]{3}[)]{1}[ ]{1}[0-9]{3}[-]{1}[0-9]{2}[-]{1}[0-9]{2}" onKeyup="phonenumber(this)" required />
                </div>
            </div>
            <div class="col-md-6">
                <label for="Email" class="form-label">Email address<font color="red">*</font></label>
                <input type="email" class="form-control" id="Email" name="Email" required />
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit" asp-action="OrderOk" asp-controller="ShopCart">Оформить</button>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
</div>