
<form>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">Оформление заказа</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="row">
                <div class="row g-3">
                    <div class="col">
                        <input class="form-check-input" type="radio" name="deliveryRadioDefault" value="Доставка" id="deliveryTransport" aria-expanded="false" aria-controls="collapseDelivery">
                        <label class="form-check-label" for="deliveryTransport">
                            Доставка
                        </label>
                    </div>
                    <div class="col">
                        <input class="form-check-input" type="radio" name="deliveryRadioDefault" value="Самовывоз" id="pickup" aria-expanded="false" aria-controls="collapseDelivery" checked>
                        <label class="form-check-label" for="pickup">
                            Самовывоз
                        </label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="collapse" id="collapseDelivery">
                        <div class="card card-body">
                            <div class="col-md-4">
                                <select class="form-select" aria-label="Default select example" id="City" name="City">
                                    <option selected>Челябинск</option>
                                    <option value="1">Миасс</option>
                                    <option value="2">Златоуст</option>
                                </select>
                            </div>
                            <div class="col">
                                <label for="AddressDelivery" class="form-label">Адрес доставки<font color="red">*</font></label>
                                <input type="text" class="form-control" id="AddressDelivery" name="AddressDelivery" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Выберите способ оплаты</label>
                    <div class="col">
                        <input type="radio" class="btn-check" name="paymentRadioDefault" id="cash" value="Наличный платеж" autocomplete="off" checked>
                        <label class="btn btn-outline-success" for="cash"><i class="fas fa-money-bill-wave"></i>&nbsp&nbspНаличными</label>

                        <input type="radio" class="btn-check" name="paymentRadioDefault" id="paymentBankCard" value="Банковская карта" autocomplete="off">
                        <label class="btn btn-outline-success" for="paymentBankCard"><i class="far fa-address-card"></i>&nbsp&nbspОплата банковской картой</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" asp-action="OrderOk" asp-controller="ShopCart">Оформить</button>
    </div>
</form>

<script>
    $(function () {
        $('#deliveryTransport').click(function () {
            $('#collapseDelivery').collapse('show');
        })
    });

    $(function () {
        $('#pickup').click(function () {
            $('#collapseDelivery').collapse('hide');
        })
    });
</script>
